<h1 class="display-3">Edit Book</h1>
<br>

<div class="container">
  <%= simple_form_for @book, url: book_path, method: :put do |f| %>
    <%= f.input :author, as: :text %>
    <%= f.input :name, as: :text %>
    <%= f.input :read %>
    <br>
    <%= f.button :submit %>
    <% end %>
    <br>
  <button type="button" class="btn btn-outline-primary">
    <%= link_to 'Back', books_path %>
  </button>
</div>
